.smallbox {
    height: 210px;
    border: 2px solid black;
}

.largebox {
    height: 460px;
    border: 2px solid black;
    padding-left: 0;
    padding-right: 0;
}

.boxheader {
    margin-left: 0;
    margin-right: 0;
    height: 50px;
    font-size: 35px;
    font-weight: bold;
    border-bottom: 2px solid black;
    padding-left: 25px;
}

.textboxlabel {
    margin: 20px auto;
    height: 40px;
    text-align: right;
    font-size: 25px;
    padding-right: 10px;
    padding-left: 10px;
}

.totalboxtext {
    margin: 5px auto;
    height: 30px;
    font-size: 20px;
}

.textbox1 {
    margin: 20px auto;
    max-width: 100px;
    height: 40px;
    text-align: left;
    font-size: 25px;
    font-weight: bold;
    padding-left: 10px;
    border: 3px solid black;
}

.textbox3 {
    margin: 20px auto;
    max-width: 200px;
    height: 40px;
    text-align: left;
    font-size: 25px;
    font-weight: bold;
    padding-left: 10px;
    border: 3px solid black;
}
