.smallbox {
    height: 210px;
    border: 2px solid black;
}

.largebox {
    height: 460px;
    border: 2px solid black;
    padding-left: 0;
    padding-right: 0;
}

.mainheader{
    text-align: center; 
    height: 100px; 
    margin-bottom: 10px; 
    margin-top: 10px;
}

.boxheader {
    margin-left: 0;
    margin-right: 0;
    height: 50px;
    font-size: 35px;
    font-weight: bold;
    border-bottom: 2px solid black;
    padding-left: 25px;
}

.textboxlabel {
    margin: 20px auto;
    height: 40px;
    text-align: right;
    font-size: 25px;
    padding-right: 10px;
    padding-left: 10px;
}

.totboxtxtleft {
    margin: 5px auto;
    height: 30px;
    font-size: 20px;
    text-align: right;
}

.totboxtxtright {
    margin: 5px auto;
    height: 30px;
    font-size: 20px;
}

.totboxtxtrightbtm {
    padding-top:5px; 
    border-top: 2px solid black;
    margin: 5px auto;
    height: 30px;
    font-size: 20px;
}

.totboxtxtleftbtm {
    padding-top:5px; 
    border-top: 2px solid black;
    margin: 5px auto;
    height: 30px;
    font-size: 20px;
    text-align: right;
}

.textbox1 {
    margin: 20px auto;
    max-width: 100px;
    height: 40px;
    text-align: left;
    font-size: 25px;
    font-weight: bold;
    padding-left: 10px;
    border: 3px solid black;
}

.textbox3 {
    margin: 20px auto;
    max-width: 200px;
    height: 40px;
    text-align: left;
    font-size: 25px;
    font-weight: bold;
    padding-left: 10px;
    border: 3px solid black;
}

.btnsrow{
    margin-top: 50px; 
    padding-left: 150px; 
    padding-right: 150px;
}    
    
    

