<html>
<head>
    <title>Wait Staff</title>
    <link href="css/bootstrap.css" rel="stylesheet" />
    <link href="css/Style.css" rel="stylesheet" />
</head>
<body ng-app="waitStaffApp">
    <div class="container" ng-controller="waitStaffCtrl">
        <div class="row mainheader">
            <h1 style="font-size: 70px;">Waitstaff Calculator</h1>
        </div>
        <form name="waitStaffForm" novalidate ng-submit="submitMeal()">
            <div class="row">
                <div class="col-sm-5 col-sm-offset-1 largebox">
                    <div class="row boxheader">
                        Enter the meal details
                    </div>
                    <div class="row" style="padding-top:20px;">
                        <div class="col-sm-6 textboxlabel">Base Meal Price: $</div>
                        <div class="col-sm-6">
                            <input type="number" name="baseprice" ng-model="meal.basePrice" class="textbox3" required min="0"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 textboxlabel">
                            Tax Rate: %
                        </div>
                        <div class="col-sm-6">
                            <input type="number" name="taxrate" ng-model="meal.taxRate" class="textbox1" required max="100" min="0"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 textboxlabel">
                            Tip Percentage: %
                        </div>
                        <div class="col-sm-6">
                            <input type="number" name="tippercent" ng-model="meal.tipPercent" class="textbox1" required max="100" min="0"/>
                        </div>
                    </div>
                    <div class="row btnsrow">
                        <div class="col-sm-6">
                            <input type="submit" class="btn btn-lg" value="Submit" data-toggle="modal" data-target="#errorModal">
                        </div>
                        <div class="col-sm-6">
                            <input type="submit" class="btn btn-lg" value="Cancel" ng-click="meal = {}">
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-sm-offset-1">
                    <div class="row smallbox">
                        <div class="row boxheader">
                            Customer Charges
                        </div>
                        <div class="row" style="margin-top: 20px;">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-4 totboxtxtleft">
                                Subtotal:
                            </div>
                            <div class="col-sm-3 totboxtxtright">
                                {{charges.subtotal | currency}}
                            </div>
                            <div class="col-sm-4"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-4 totboxtxtleft">
                                Tip:
                            </div>
                            <div class="col-sm-3 totboxtxtright">
                                {{charges.tip | currency}}
                            </div>
                            <div class="col-sm-4"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2"></div>
                            <div class="col-sm-3 totboxtxtleftbtm">
                                Total:
                            </div>
                            <div class="col-sm-3 totboxtxtrightbtm">
                                {{charges.total | currency}}
                            </div>
                            <div class="col-sm-4"></div>
                        </div>
                    </div>
                    <div class="row smallbox" style="margin-top: 40px">
                        <div class="row boxheader">My Earnings Info</div>
                        <div class="row" style="margin-top: 20px;">
                            <div class="col-sm-8 totboxtxtleft">
                                Tip Total:
                            </div>
                            <div class="col-sm-4 totboxtxtright">
                                {{earnings.tipTotal | currency}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-8 totboxtxtleft">
                                Meal Count:
                            </div>
                            <div class="col-sm-4 totboxtxtright">
                                {{earnings.mealCount}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-8 totboxtxtleft">
                                Average Tip Per Meal:
                            </div>
                            <div class="col-sm-4 totboxtxtright">
                                {{earnings.avgTipPerMeal | currency}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-1 col-sm-offset-11" style="margin-top:10px">
                    <button type="submit" class="btn btn-lg text-danger" ng-click="reset()">Reset</button>
                </div>
            </div>
        </form>
        <!-- Error Modal -->
        <div class="modal" id="errorModal" role="dialog" ng-if="waitStaffForm.$invalid">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title text-danger"><strong>Error!</strong></h3>
                    </div>
                    <div class="modal-body text-danger">
                        <div ng-if="waitStaffForm.$submitted && waitStaffForm.baseprice.$error.required"><h4><strong>Please enter the meal base price</strong></h4></div>
                        <div ng-if="waitStaffForm.$submitted && waitStaffForm.taxrate.$error.required"><h4><strong>Please enter a tax rate</strong></h4></div>
                        <div ng-if="waitStaffForm.$submitted && waitStaffForm.taxrate.$error.max"><h4><strong>Please enter a valid tax rate</strong></h4></div>
                        <div ng-if="waitStaffForm.$submitted && waitStaffForm.tippercent.$error.required"><h4><strong>Please enter your tip percentage</strong></h4></div>
                        <div ng-if="waitStaffForm.$submitted && waitStaffForm.tippercent.$error.max"><h4><strong>Please enter a valid tip percentage</strong></h4></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="./js/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://code.angularjs.org/1.3.10/angular.js"></script>
    <script src="./js/WaitStaff.js"></script>
</body>
</html>